[mysqld]
host          = 
user          = 
password      = 

[history]
database                = 
acct_stat_history_table = ACCT_STAT_HISTORY

[robinhood]
database        = 
acct_stat_table = ACCT_STAT

[mail]
server    = 
sender    = 
recipient = 
